<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <title>
        About Page
    </title>

</head>

<body>
    {{> header}}
    <p> How can I assist you !!</p>
     {{> footer}}

</body>

</html>